h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Strait', sans-serif;
}

body {
	background: #2D3B3A;
}

.chan {
	margin-left: 20px;
}


/*Two buttons*/
#for1 {
	width: 130px;
	background: #76ACA5;
	padding-left: 70px;
	padding-right: 70px;
}


/*Four Buttons*/


#for2 {
	padding: 15px;
	background: #76ACA5;
	
}


/*.top {
	margin-top: 50px;
}*/

/*Accordion*/

#for5 {
	background: #76ACA5;
	color: white;
}

/*Links*/

a {
	color: white;
	size: 20px;
}

img {
	width: 30px;
	margin: 10px 0;
}



