h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Strait', sans-serif;
}

body {
	background: #2D3B3A;
}




/*Two buttons*/
#for1 {
	width: 130px;
	margin-bottom: 0;
	padding: 70px;
	background: #76ACA5;
}

#for2 {
	width: 130px;
	margin-bottom: 100px;
	padding: 70px;
	background: #76ACA5;
}


/*Four Buttons*/


#for3 {
	padding: 30px;
	background: #76ACA5;
}



#for4 {
	padding: 30px;
	background: #76ACA5;
}



#bottom {
	padding: 30px;
	background: #76ACA5;
}

.top {
	margin-top: 70px;
	background: #76ACA5;
}

/*Accordion*/

#for5 {
	background: #76ACA5;
	color: white;
}

/*Links*/

a {
	color: white;
	size: 20px;
}

img {
	width: 25px;
	margin: 10px 0;
}



